$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

 #sideNav {
    position: absolute;
    top: 85px;
    left: -70px;

    height: 250px;
    width: 150px;

    float: left;
    vertical-align: center;
    margin-right: 50px;

    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 25px;
} 

#sideNav ul {
    padding-top: 20px;
}

#sideNav li{
    font-size: 1.2em;
    font-style: "Arial";
    text-align: center;
}

#sideNav p {
    padding-top: 20px;
    text-align: center;
    font-size: 1.5em;
}